body {
  font-family: 'Rubik', sans-serif;
  background: linear-gradient(20deg, #b0a, #30f);
  color: white;
  height: 100%;
}

h1 {
  font-size: 32px;
}

img.logo {
  margin-left: 20px;
}

p.subtitle {
  letter-spacing: 3px;
}
